<section class="section is-assorts" id="assortment">
  <div class="container">
    <p class="text-size-tagline margin-bottom-16 text-color-dark">
      Assortment
    </p>
    <h2
      class="text-size-lg margin-bottom-24 text-color-dark width-344 width-768"
    >
      Explore Our Delicious Organic Product Range
    </h2>

    <ul class="assorts-list">
      <li class="assorts-item">
        <picture class="margin-bottom-16">
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/assorts/assort-1d.avif    1x,
              /images/assorts/assort-1d@2x.avif 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/assorts/assort-1t.avif    1x,
              /images/assorts/assort-1t@2x.avif 2x
            "
          />
          <img
            class="assort-image height-365 width-100"
            loading="lazy"
            decoding="async"
            width="343"
            height="365"
            src="/images/assorts/assort-1.avif"
            srcset="
              /images/assorts/assort-1.avif    1x,
              /images/assorts/assort-1@2x.avif 2x
            "
            alt="Top-down photo of fresh organic carrots with green tops arranged in a woven basket on a light wooden background, a hint of soil and greenery around, soft natural daylight, styled for a clean and earthy look."
          />


        </picture>
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h3 class="text-medium-semibold text-color-dark">
              Organic Gala Apples
            </h3>
            <p class="text-small-normal text-color-dark">
              Juicy, crisp, and sweet apples grown without pesticides.
            </p>
          </div>
          <div class="assorts-price-box">
            <span class="text-large-semibold text-color-dark">$3.50</span>
            <span class="text-size-custom text-color-dark width-53 height-26"
              >per 1 pound</span
            >
          </div>
        </div>
        <button class="button-secondary btn-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <picture class="margin-bottom-16">
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/assorts/assort-2d.avif    1x,
              /images/assorts/assort-2d@2x.avif 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/assorts/assort-2t.avif    1x,
              /images/assorts/assort-2t@2x.avif 2x
            "
          />
          <img
            class="assort-image height-365 width-100"
            loading="lazy"
            decoding="async"
            width="343"
            height="365"
            src="/images/assorts/assort-2.avif"
            srcset="
              /images/assorts/assort-2.avif    1x,
              /images/assorts/assort-2@2x.avif 2x
            "
            alt="Top-down view of fresh organic spinach leaves inside a kraft paper bag, placed on a light wooden table with a soft green linen cloth underneath, natural daylight, crisp and clean layout, minimal rustic detail."
          />


        </picture>
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h3 class="text-medium-semibold text-color-dark">
              Fresh Organic Spinach
            </h3>
            <p class="text-small-normal text-color-dark">
              Young spinach leave hand-picked from a local organic farm
            </p>
          </div>
          <div class="assorts-price-box">
            <span class="text-large-semibold text-color-dark">$2.80</span>
            <span class="text-size-custom text-color-dark width-53 height-26"
              >per bunch</span
            >
          </div>
        </div>
        <button class="button-secondary btn-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <picture class="margin-bottom-16">
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/assorts/assort-3d.avif    1x,
              /images/assorts/assort-3d@2x.avif 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/assorts/assort-3t.avif    1x,
              /images/assorts/assort-3t@2x.avif 2x
            "
          />
          <img
            class="assort-image height-365 width-100"
            loading="lazy"
            decoding="async"
            width="343"
            height="365"
            src="/images/assorts/assort-3.avif"
            srcset="
              /images/assorts/assort-3.avif    1x,
              /images/assorts/assort-3@2x.avif 2x
            "
            alt="Top-down photo of 12 brown free-range organic eggs in a paper carton on a light wooden surface, one feather beside the carton, soft shadows from natural window light, clean background with warm organic tones."
          />


        </picture>
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h3 class="text-medium-semibold text-color-dark">
              Free-Range Organic Eggs
            </h3>
            <p class="text-small-normal text-color-dark">
              Eggs from free-range hens fed with natural feed
            </p>
          </div>

          <div class="assorts-price-box">
            <span class="text-large-semibold text-color-dark">$5.00</span>
            <span class="text-size-custom text-color-dark width-53 height-26"
              >per dozen</span
            >
          </div>
        </div>
        <button class="button-secondary btn-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <picture class="margin-bottom-16">
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/assorts/assort-4d.avif    1x,
              /images/assorts/assort-4d@2x.avif 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/assorts/assort-4t.avif    1x,
              /images/assorts/assort-4t@2x.avif 2x
            "
          />
          <img
            class="assort-image height-365 width-100"
            loading="lazy"
            decoding="async"
            width="343"
            height="365"
            src="/images/assorts/assort-4.avif"
            srcset="
              /images/assorts/assort-4.avif    1x,
              /images/assorts/assort-4@2x.avif 2x
            "
            alt=" Top-down view of a white bottle labeled “Organic Almond Milk” beside a small glass of almond milk and scattered raw almonds, placed on a light wooden background with subtle green cloth texture for accent."
          />


        </picture>
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h3 class="text-medium-semibold text-color-dark">
              Organic Almond Milk
            </h3>
            <p class="text-small-normal text-color-dark">
              Natural plant-based milk with not added sugar - perfect for coffee
              and breakfast
            </p>
          </div>
          <div class="assorts-price-box">
            <span class="text-large-semibold text-color-dark">$4.20</span>
            <span class="text-size-custom text-color-dark width-53 height-26"
              >per 1 liter</span
            >
          </div>
        </div>
        <button class="button-secondary btn-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <picture class="margin-bottom-16">
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/assorts/assort-5d.avif    1x,
              /images/assorts/assort-5d@2x.avif 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/assorts/assort-5t.avif    1x,
              /images/assorts/assort-5t@2x.avif 2x
            "
          />
          <img
            class="assort-image height-365 width-100"
            loading="lazy"
            decoding="async"
            width="343"
            height="365"
            src="/images/assorts/assort-5.avif"
            srcset="
              /images/assorts/assort-5.avif    1x,
              /images/assorts/assort-5@2x.avif 2x
            "
            alt="Top-down image of a glass jar filled with golden raw honey and a wooden dipper resting beside it, placed on a light wooden table with a small bunch of dried flowers and a soft linen cloth in the corner, warm natural lighting."
          />


        </picture>
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h3 class="text-medium-semibold text-color-dark">
              Raw Organic Honey
            </h3>
            <p class="text-small-normal text-color-dark">
              Unfiltered honey atraight from the apiary — natural, sweet and
              healthy.
            </p>
          </div>
          <div class="assorts-price-box">
            <span class="text-large-semibold text-color-dark">$7.50</span>
            <span class="text-size-custom text-color-dark width-53 height-26"
              >per 500 ml jar</span
            >
          </div>
        </div>
        <button class="button-secondary btn-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <picture class="margin-bottom-16">
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/assorts/assort-6d.avif    1x,
              /images/assorts/assort-6d@2x.avif 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/assorts/assort-6t.avif    1x,
              /images/assorts/assort-6t@2x.avif 2x
            "
          />
          <img
            class="assort-image height-365 width-100"
            loading="lazy"
            decoding="async"
            width="343"
            height="365"
            src="/images/assorts/assort-6.avif"
            srcset="
              /images/assorts/assort-6.avif    1x,
              /images/assorts/assort-6@2x.avif 2x
            "
            alt=" Top-down photo of fresh organic carrots with green tops arranged in a woven basket on a light wooden background, a hint of soil and greenery around, soft natural daylight, styled for a clean and earthy look."
          />


        </picture>
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h3 class="text-medium-semibold text-color-dark">
              Organic Carrots
            </h3>
            <p class="text-small-normal text-color-dark">
              Crunchy and sweet carrots grown without chemicals.
            </p>
          </div>

          <div class="assorts-price-box">
            <span class="text-large-semibold text-color-dark">$1.90</span>
            <span class="text-size-custom text-color-dark width-53 height-26"
              >per 1 pound</span
            >
          </div>
        </div>
        <button class="button-secondary btn-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <picture class="margin-bottom-16">
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/assorts/assort-7d.avif    1x,
              /images/assorts/assort-7d@2x.avif 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/assorts/assort-7t.avif    1x,
              /images/assorts/assort-7t@2x.avif 2x
            "
          />
          <img
            class="assort-image height-365 width-100"
            loading="lazy"
            decoding="async"
            width="343"
            height="365"
            src="/images/assorts/assort-7.avif"
            srcset="
              /images/assorts/assort-7.avif    1x,
              /images/assorts/assort-7@2x.avif 2x
            "
            alt="  Top-down view of a sliced loaf of organic wholegrain sourdough bread on a rustic wooden cutting board, placed on a light wooden surface with a green linen napkin and a few breadcrumbs around, warm natural tone."
          />


        </picture>
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h3 class="text-medium-semibold text-color-dark">
              Whole Organic Bread
            </h3>
            <p class="text-small-normal text-color-dark">
              Homemade sourdough bread made with organic flour.
            </p>
          </div>

          <div class="assorts-price-box">
            <span class="text-large-semibold text-color-dark">$4.80</span>
            <span class="text-size-custom text-color-dark width-53 height-26"
              >per 1 loaf</span
            >
          </div>
        </div>

        <button class="button-secondary btn-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <picture class="margin-bottom-16">
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/assorts/assort-8d.avif    1x,
              /images/assorts/assort-8d@2x.avif 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/assorts/assort-8t.avif    1x,
              /images/assorts/assort-8t@2x.avif 2x
            "
          />
          <img
            class="assort-image height-365 width-100"
            loading="lazy"
            decoding="async"
            width="343"
            height="365"
            src="/images/assorts/assort-8.avif"
            srcset="
              /images/assorts/assort-8.avif    1x,
              /images/assorts/assort-8@2x.avif 2x
            "
            alt="Top-down view of a glass jar with dried herbal tea mix (mint, chamomile, thyme) placed on a light wooden table, some loose herbs scattered around for texture, linen cloth and gentle natural lighting for a calming feel."
          />


        </picture>
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h3 class="text-medium-semibold text-color-dark">
              Organic Herbal Tea Mix
            </h3>
            <p class="text-small-normal text-color-dark">
              Fragrant blend of mint, chamomile and thyme - perfect for
              relaxation.
            </p>
          </div>
          <div class="assorts-price-box">
            <span class="text-large-semibold text-color-dark">$6.30</span>
            <span class="text-size-custom text-color-dark width-53 height-26"
              >per 100g</span
            >
          </div>
        </div>
        <button class="button-secondary btn-cart" type="button">
          Add to Cart
        </button>
      </li>
    </ul>
  </div>
</section>
