<footer class="footer">
  <div class="container is-footer">
    <div class="footer-top">
      <a
        class="logo-wrapper is-footer"
        href="#home"
        aria-label="Organic Shop home"
      >
        <svg class="logo is-footer" width="162" height="70">
          <use href="../images/sprite.svg#logo"></use>
        </svg>
      </a>
      <nav class="footer-navigation" aria-label="Footer navigation">
        <ul class="footer-nav-list">
          <li>
            <a class="text-regular-normal is-footer" href="#home">Home</a>
          </li>
          <li>
            <a class="text-regular-normal is-footer" href="#mission">Mission</a>
          </li>
          <li>
            <a class="text-regular-normal is-footer" href="#benefits"
              >Benefits</a
            >
          </li>
          <li>
            <a class="text-regular-normal is-footer" href="#assortment"
              >Assortment</a
            >
          </li>
          <li>
            <a class="text-regular-normal is-footer" href="#feedbacks"
              >Feedbacks</a
            >
          </li>
          <li>
            <a class="text-regular-normal is-footer" href="#faq">FAQ</a>
          </li>
          <li>
            <a class="text-regular-normal is-footer" href="#contacts"
              >Contacts</a
            >
          </li>
        </ul>
      </nav>
      <ul class="footer-social-list">
        <li>
          <a
            class="footer-social-link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <svg class="footer-social-icon" width="32" height="32">
              <use href="../images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
          >
            <svg class="footer-social-icon" width="32" height="32">
              <use href="../images/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-link"
            href="https://x.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="X"
          >
            <svg class="footer-social-icon" width="32" height="32">
              <use href="../images/sprite.svg#x"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-link"
            href="https://www.linkedin.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LinkedIn"
          >
            <svg class="footer-social-icon" width="32" height="32">
              <use href="../images/sprite.svg#linkedIn"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-link"
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="YouTube"
          >
            <svg class="footer-social-icon" width="32" height="32">
              <use href="../images/sprite.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p class="text-small-normal">
        &copy; 2025 Organic Shop. All rights reserved.
      </p>
    </div>
  </div>
</footer>
