<header class="header">
  <div class="container is-header">
    <div class="logo-wrapper">
      <a href="#">
        <svg class="logo" width="142" height="60">
          <use href="/images/sprite.svg#logo"></use>
        </svg>
      </a>
    </div>
    <nav class="navigation">
      <ul class="nav-list">
        <li>
          <a href="#home" class="text-regular-normal is-header">Home</a>
        </li>
        <li>
          <a href="#mission" class="text-regular-normal is-header">Mission</a>
        </li>
        <li>
          <a href="#benefits" class="text-regular-normal is-header">Benefits</a>
        </li>
        <li>
          <a href="#assortment" class="text-regular-normal is-header"
            >Assortment</a
          >
        </li>
        <li>
          <a href="#feedbacks" class="text-regular-normal is-header"
            >Feedbacks</a
          >
        </li>
        <li>
          <a href="#faq" class="text-regular-normal is-header">FAQ</a>
        </li>
        <li>
          <a href="#contacts" class="text-regular-normal is-header">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="a-wrapper-92-32 mobile-hide">
      <a class="button is-small" href="#assortment">Order</a>
    </div>
    <div class="burger-buttons" id="burger-toggle">
      <button type="button" class="burger-open-button">
        <svg class="burger-open" width="32" height="32">
          <use href="/images/sprite.svg#burger-open"></use>
        </svg>
      </button>
      <button type="button" class="burger-close-button">
        <svg class="burger-close" width="32" height="32">
          <use href="/images/sprite.svg#burger-close"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="burger-menu">
    <div class="container">
      <ul class="burger-nav">
        <li>
          <a class="text-medium-semibold is-header" href="#home">Home</a>
        </li>
        <li>
          <a class="text-medium-semibold is-header" href="#mission">Mission</a>
        </li>
        <li>
          <a class="text-medium-semibold is-header" href="#benefits"
            >Benefits</a
          >
        </li>
        <li>
          <a class="text-medium-semibold is-header" href="#assortment"
            >Assortment</a
          >
        </li>
        <li>
          <a class="text-medium-semibold is-header" href="#feedbacks"
            >Feedbacks</a
          >
        </li>
        <li>
          <a class="text-medium-semibold is-header" href="#faq">FAQ</a>
        </li>
        <li>
          <a class="text-medium-semibold is-header" href="#contacts"
            >Contacts</a
          >
        </li>
      </ul>
      <button class="button" type="button">
        <a href="#assortment">Order</a>
      </button>
    </div>
  </div>
</header>
<div class="menu-overlay"></div>
