<section class="section is-mission">
  <div class="container">
    <div class="mission-description">
      <h2 class="mission-description-title text-size-lg">
        Our Mission: Fresh, Local, and Organic for a Healthier Tomorrow.
      </h2>
      <p class="mission-description-text">
        At Organic Shop, we believe in the power of nature. Our mission is to
        provide you with fresh, locally sourced organic products that nourish
        both body and soul. We partner with ethical farmers who share our
        commitment to sustainability and quality.
      </p>
    </div>
    <img
      src=""
      alt="Poeple around table with veggies"
      width="343"
      height="193"
    />
  </div>
</section>
