.section.is-benefits {
  background-color: var(--japanese-laurel);
}
@media (min-width: 768px) {
   .section.is-benefits {
     padding: 64px 32px;
   }

}

@media (min-width: 1440px) {
  .section.is-benefits {
     padding: 112px 64px;
   }
}

.benefits-content {
   display: flex;
    flex-direction: column;
     gap: 24px;

}

@media (min-width: 768px) {

  .benefits-content {
    max-width: 704px;
    margin: 0 auto
 }

}

 @media (min-width: 1440px) {
  .benefits-content {
     flex-direction: row;
     gap: 80px;
     max-width: 1312px;
     margin: 0 auto;
     align-items: center;
} 


.benefits-text {
  max-width: 560px;

}

@media (min-width: 1440px) {
   .benefits-text {
        flex: 1;
  }
}


.benefits-img {
 width: 100%;
 order: -1;
}

@media (min-width: 1440px) {
.benefits-img {
  flex: 1;
  order: 1;

}

}

.item-list {
   display: flex;
   flex-direction: column;
   gap: 32px;
   margin-top: 40px;

}



@media (min-width: 768px) {
 .item-list {
   flex-direction: row;
   flex-wrap: wrap;

  }
}



@media (min-width: 1440px) {
 .item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;

  }
}

.why-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}



@media (min-width: 768px) {
 .why-item {
    width: calc((100% - 32px) / 2);
  }
}



/* @media (min-width: 1440px) {
  .why-item {
    width: calc((100% - 32px) / 2);
  }

} */

.icon-benefits {
  width: 48px;
  height: 48px;
  fill: var(--white);
  margin-bottom: 12px;
} 
.margin-bottom-8 {
  margin-bottom: 8px;
}